Source: asusctl
Section: utils
Priority: optional
Maintainer: Mitchell Augustin <mitchell@mitchellaugustin.com>
Uploaders: Mitchell Augustin <mitchell@mitchellaugustin.com>
Build-Depends:
 cargo,
 debhelper-compat (= 13),
 dh-cargo,
 dh-exec,
 libclang-dev,
 libudev-dev,
 libfontconfig-dev,
 libxkbcommon-dev,
 cmake,
 rustc,
 libstd-rust-dev,
 quilt
Standards-Version: 4.6.2
Homepage: https://gitlab.com/asus-linux/asusctl
XS-Build-Indep-Architecture: amd64
XS-Vendored-Sources-Rust:
# asusctl, asusd, rog-control-center

Package: asusctl
Architecture: amd64
Priority: important
Depends:
 asusd,
 ${misc:Depends},
 ${shlibs:Depends}
Description: Control fan speeds, LEDs, graphics modes, and charge levels for ASUS notebooks
 This package contains asusctl, a userspace command line utility that can be used to control
 fan curves, LEDs, graphics modes, and charge levels for ASUS notebooks.

Package: asusd
Architecture: amd64
Priority: important
Depends:
 dbus,
 ${misc:Depends},
 ${shlibs:Depends}
Description: Daemon that enables communication between userland components such as asusctl and kernel features
 This package contains asusd, the daemon and dbus interface

Package: rog-control-center
Architecture: amd64
Priority: important
Depends:
 asusctl,
 asusd,
 ${misc:Depends},
 ${shlibs:Depends}
Description: GUI for controlling ASUS hardware
 This package contains the GUI 

